
html, body {
    overflow: hidden;
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #43f069; 
}

.container {
    width: 100%; /* this make container fluid*/
    height: auto;
    background-color: rgba(255, 255, 255, 0); /* this make content background-color*/
    margin-right: auto; /* this make content center*/
    margin-left: auto; /* this make content center*/
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

img {
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

#hand {
    color: #00ff55;
    position: absolute;
    height: 80%;
    left: 30%;
    bottom: -50px;
    z-index: 1;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.handanimated {
    animation: 60ms handmotion ease-in-out;
}

@keyframes handmotion {
    0% { transform: scale(1); }
    50% { transform: scale(0.7); }
    100% { transform: scale(1); }
}

#back-arrow:hover {
    cursor: pointer;
    background-color: rgb(107, 107, 107);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(255, 255, 255, 0); /* Fallback color */
}

#model-background {
    position: fixed; /* Stay in place */
    z-index: 2; 
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
  
/* Modal Content (image) */
#modal-content {
    z-index: 3; 
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 90%;
    position: fixed;
    border-radius: 1%;
    padding: 20px;
    overflow: auto;
    color:white;
}

/* Add Animation */
#modal-content {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

#modal-achievement {
    z-index: 3; 
    left: 25%;
    margin-left: auto;
    margin-right: auto;
    display: none;
    width: 50%;
    height: 90%;
    position: fixed; /* Stay in place */
    border-radius: 2%;
    padding: 20px;
    overflow: auto;
    color:white;
}

#modal-achievement {  
    animation-name: zoom;
    animation-duration: 0.6s;
}

.fadeanimation {
    opacity: 0;
    animation: fade 2s linear;
}

.introanimation {
    animation-name: introfade;
    animation-duration: 2s;
}

@keyframes introfade {
    0% {
        opacity: 0;
        transform: scale(.1);
    }
    85% {
        opacity: 1;
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fade {
  0% { opacity: 0 }
  15%,100% { opacity: 1 }
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 45px;
    right: 65px;
    color: #f1f1f1 !important;
    font-size: 55px !important;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1 !important;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


.gui-title {
    text-align: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}