* {
    margin: 0;
    padding: 0;
}

#grid {
    position: fixed;
    top: 0%;
    display: grid;
    background-color: rgb(39, 39, 39);
    height: 30px;
    width: 100%;
    text-align: center;
    grid-template-columns: fit-content(100%) fit-content(100%) 1fr 30px 30px 30px 30px;
    grid-template-rows: 30px;
    z-index: 1;
}

#name {
    padding: 5px;
    color: rgb(15, 236, 52);
    font-size: 15px !important;
}
  
#version {
    color: white;
    padding: 5px;
    font-size: 15px !important;
}

#drag {
    -webkit-app-region: drag;
}

#settings {
    color: white;
    font-size: 22px !important;
}

#settings:hover, #settings:focus {
    cursor: pointer;
    background-color: rgba(9, 149, 243, 0.842);
}

#blank {
    color: white;
    font-size: 22px !important;
}


#mini {
    color: white;
    font-size: 20px !important;
}

#mini:hover {
    cursor: pointer;
    background-color: rgb(107, 107, 107);
}

#maxi {
    color: white;
    font-size: 20px !important;
}

#maxi:hover {
    cursor: pointer;
    background-color: rgb(107, 107, 107);
}

#close {
    color: white;
    font-size: 22px !important;
}

#close:hover, #close:focus {
    cursor: pointer;
    background-color: rgb(247, 67, 67);
}