#nav-grid {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto auto auto;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    margin: 0px;
    padding: 0px;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: var(--bg-color-dark);
    z-index: 2;
}

#nav-grid div {
    display: flex;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.2s;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

#drag {
    -webkit-app-region: drag;
}


#settings:hover {
    background-color: var(--color-primary);
    border-radius: 5px;
}

#mini:hover {
    background-color: var(--bg-color);
    border-radius: 5px;
}

#maxi:hover {
    background-color: var(--bg-color);
    border-radius: 5px;
}

#close:hover {
    background-color: var(--color-error);
    border-radius: 5px;
}